.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: antiquewhite;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
}

.navbar ul li {
    display: flex;
    margin-right: 10px;
}

.navbar ul li:hover {
    background-color: bisque;
    border-radius: 20%;
}

.navbar ul li a {
    text-decoration: none;
    color:black;

}
.navbar div {
    display:flex;
    margin-right: 20px;
}
.navbar div a {
    text-decoration: none;
    color:black;
}
.navbar div:hover{
    background-color: bisque;
    border-radius: 20%;
}

.container {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.burger {
    display: none;

}


@media (max-width: 700px) {
    .burger {
        display: block;
        position: relative;
        width:  40px; height: 40px; margin: auto;
        margin-left: 20px; margin-right: • 5px;
    }
    .burger span{
        position: absolute;
        width: 30px; 
        left: 5px; 
        height: 3px;
        background-color: black; bottom: 20px;
    }
    .burger span:nth-child(1) {
        transform: translateY(-10px);
    }
    .burger span:nth-child(3){
        transform: translateY(10px);
    }
    .navbar ul {
        position: absolute;
        background: radial-gradient(circle at top left, rgb(235, 224,142), rgb(161,222,225), rgb(80,173,224));
        flex-direction:column;
        width :30%;
        height: auto;
        top: 68px;
        left: -40%;
        z-index:2;
    }
    .navbar ul li {
        margin-top:10px;

    }
    .navbar ul li:hover {
        background-color: black;
        transform: scale(1.07);
        transition: 0.4s ease;
        border-radius:5%;
    }
    .navbar ul li a:hover{
        color: white;
    }
    .navbar ul li:nth-child(1){
        margin-top:20px;

    }
    .navbar ul li a {
        margin-left:0;
        font-size: 1.2rem;

    }
    .navbar.open ul {
        transform: translate(100%);
        transition: 0.7 ease-in-out;
    }
    .navbar.open .burger span:nth-child(1){
        transform: translateY(0) rotate(45deg);
    }
    .navbar.open .burger span:nth-child(2){
        opacity:0;
    }
    .navbar.open .burger span:nth-child(3){
        transform: translateY(0) rotate(-45deg);
    }
    
    

}
